## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config2 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head(20)

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Manggar,ID,-2.88,108.27,80.94,81,100,6.31,moderate rain
1,1,Busselton,AU,-33.65,115.33,55.00,65,0,0.43,clear sky
2,2,Punta Arenas,CL,-53.15,-70.92,44.60,81,40,8.05,scattered clouds
3,3,Riyadh,SA,24.69,46.72,69.80,35,0,6.17,clear sky
4,4,Puerto Ayora,EC,-0.74,-90.35,78.80,69,40,20.80,scattered clouds
5,5,Kodiak,US,57.79,-152.41,48.20,87,90,17.22,mist
6,6,Sioux Lookout,CA,50.10,-91.92,26.60,58,75,6.93,broken clouds
7,7,Avarua,CK,-21.21,-159.78,75.20,73,49,11.41,light rain
8,8,Phonhong,LA,18.50,102.42,72.41,79,93,1.63,overcast clouds
9,9,Hilo,US,19.73,-155.09,82.40,74,40,5.82,scattered clouds
10,10,Qaanaaq,GL,77.48,-69.36,12.72,80,100,12.08,overcast clouds
11,11,Eyl,SO,7.98,49.82,78.37,69,54,10.00,broken clouds
12,12,Palmares Do Sul,BR,-30.26,-50.51,73.42,75,0,21.36,clear sky
13,13,Upernavik,GL,72.79,-56.15,13.87,76,63,4.18,broken clouds
14,14,Chuy,UY,-33.70,-53.46,71.56,79,100,15.39,overcast clouds
15,15,Lugazi,UG,0.38,32.92,69.80,83,20,8.05,few clouds
16,16,Vaini,TO,-21.20,-175.20,71.60,94,90,10.29,light intensity shower rain
17,17,West Bay,KY,19.37,-81.42,80.60,88,75,16.11,broken clouds
18,18,Anton Lizardo,MX,19.05,-95.98,89.60,55,40,4.70,scattered clouds
19,19,Alta Floresta,BR,-9.88,-56.09,91.65,43,100,2.64,overcast clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("Please enter minimum temperature:"))
max_temp = float(input("Please enter maximum temperature:"))

Please enter minimum temperature:75
Please enter maximum temperature:90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_data_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] > min_temp)]
filtered_data_df

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Manggar,ID,-2.88,108.27,80.94,81,100,6.31,moderate rain
4,4,Puerto Ayora,EC,-0.74,-90.35,78.80,69,40,20.80,scattered clouds
7,7,Avarua,CK,-21.21,-159.78,75.20,73,49,11.41,light rain
9,9,Hilo,US,19.73,-155.09,82.40,74,40,5.82,scattered clouds
11,11,Eyl,SO,7.98,49.82,78.37,69,54,10.00,broken clouds
...,...,...,...,...,...,...,...,...,...,...
646,646,Mana,GF,5.66,-53.78,84.40,70,96,10.89,overcast clouds
647,647,Mecca,SA,21.43,39.83,78.21,71,0,2.95,clear sky
648,648,Annamalainagar,IN,11.40,79.73,80.49,77,100,4.61,overcast clouds
656,656,Bodden Town,KY,19.28,-81.25,80.60,88,75,16.11,broken clouds
657,657,Jobabo,CU,20.97,-76.30,87.80,62,75,12.75,broken clouds

In [8]:
# 4a. Determine if there are any empty rows.
filtered_data_df.count()

City ID                187
City                   187
Country                186
Lat                    187
Lng                    187
Max Temp               187
Humidity               187
Cloudiness             187
Wind Speed             187
Current Description    187
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
filtered_data_df.dropna()
filtered_data_df.count()

City ID                187
City                   187
Country                186
Lat                    187
Lng                    187
Max Temp               187
Humidity               187
Cloudiness             187
Wind Speed             187
Current Description    187
dtype: int64

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Manggar,ID,80.94,moderate rain,-2.88,108.27,
4,Puerto Ayora,EC,78.80,scattered clouds,-0.74,-90.35,
7,Avarua,CK,75.20,light rain,-21.21,-159.78,
9,Hilo,US,82.40,scattered clouds,19.73,-155.09,
11,Eyl,SO,78.37,broken clouds,7.98,49.82,
17,West Bay,KY,80.60,broken clouds,19.37,-81.42,
18,Anton Lizardo,MX,89.60,scattered clouds,19.05,-95.98,
20,Atuona,PF,78.93,clear sky,-9.80,-139.03,
24,Auki,SB,79.36,overcast clouds,-8.77,160.70,
25,Hobyo,SO,79.86,clear sky,5.35,48.53,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index,row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotel_data = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
    except IndexError:
        print("Hotel name not found, Skipping")

Hotel name not found, Skipping
Hotel name not found, Skipping
Hotel name not found, Skipping
Hotel name not found, Skipping
Hotel name not found, Skipping
Hotel name not found, Skipping
Hotel name not found, Skipping
Hotel name not found, Skipping
Hotel name not found, Skipping
Hotel name not found, Skipping
Hotel name not found, Skipping
Hotel name not found, Skipping
Hotel name not found, Skipping

In [16]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()
hotel_df.head(10)
len(hotel_df)

187

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))